<div class="modal-header">
    <h3 class="modal-title">Are you sure?</h3>
</div>

<div class="modal-body">
    <p>Regenerating rankings will cause inactive players to be excluded.</p>
    <p>Manual regeneration is necessary whenever a player or tournament is added or removed from this region.</p>
    <p>Ranking generation may take a long time, so please be patient!</p>
    <p class="danger">IMPORTANT: Any changes made to the Ranking Criteria will be SAVED!</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary mobile_xs" ng-click="confirm()" ng-disabled="disableButtons">OK</button>
    <button type="button" class="btn btn-default mobile_small" ng-click="cancel()" ng-disabled="disableButtons">Cancel</button>
</div>
