<div class="container">
    <br/>
    <div class="panel panel-default" id="rankingsControlPanel" ng-show="sessionService.isAdminForRegion(regionService.region.id)">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a ng-click="isRankingsCollapsed = !isRankingsCollapsed">
                    <label>Rankings Control Panel</label>
                    <span class="caret"></span>
                </a>
            </h4>
        </div>
        <div collapse="!isRankingsCollapsed">
            <div class="panel-body">
                <form id="rankingsControlPanelForm" ng-submit="saveRegionRankingsCriteria()">
                <!-- Options to tweak rankings go here -->
                <h3>Ranking Qualification:</h3>
                <span>
                    <input type="number" maxlength='3' class="mobile"
                           id="numberDaysBackText" ng-model="rankingNumDaysBack"/> <label>Days Back.</label>
                </span>
                <br/><br/>
                <span>
                    <span><label>Has Attended At Least</label></span>
                    <span><input type="number" maxlength="3" class='mobile'
                                 ng-model="rankingsNumTourneysAttended"/></span>
                    <span><label>Tournaments</label></span>

                </span>
                
                    </br>
                    <hr/>
                    <br/>
                <span>
                    <h3>Tournament Inclusion:</h3>
                    <span><label>Include Tournaments</label></span>
                    <span><input type="number" maxlength="3" class="mobile"
                                 ng-model="tourneyNumDaysBack"/></span>
                    <span><label>Days Back</label></span>
                <!--
                    <br/>
                    OR
                    <br/>
                    Include Tournaments From <input type="date" ng-model="tournamentsBackStartDate" hint="mm/dd/yyyy"/>
                -->
                </span>
                    <br/><br/>
                    <input type="submit" value="Save Changes" class="mobile"/>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-10">
            <h3>Rankings as of {{rankingsService.rankingsList.time.substring(0,10)}}</h3>
        </div>
        <div class="col-md-2" ng-show="sessionService.isAdmin()">
            <h3 class="text-right">
                <button type="button" class="btn btn-danger mobile" ng-click="prompt()">Regenerate rankings</button>
            </h3>
        </div>
    </div>
    <div class="row">
        <div ng-show="!sessionService.isAdmin() && rankingsNumTourneysAttended && rankingNumDaysBack" class="col-md-10">
            <h4> Region Qualification: Competed in {{ rankingsNumTourneysAttended }} Tournaments within {{ rankingNumDaysBack }} Days </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-condensed">
                <tr class="table_header">
                    <th>Rank</th>
                    <th>Name</th>
                    <th>Rating</th>
                </tr>
                <tr ng-repeat="line in rankingsService.rankingsList.ranking" class="table_line">
                    <td><b>{{line.rank}}</b></td>
                    <td><a href="#/{{regionService.region.id}}/players/{{line.id}}">{{line.name}}</a></td>
                    <td>{{line.rating | number:3}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
