[Unit]
Description=GarPr Prod Webapp service

[Service]
ExecStart=/usr/local/bin/twistd \
    --nodaemon \
    --pidfile= \
    --logfile="logs/webapp.log" \
    -oy webapp/serve_webapp.tac

WorkingDirectory=/home/deploy/prod/garpr

User=root
Group=root

Restart=always

[Install]
WantedBy=multi-user.target
