[Unit]
Description=GarPr Prod API service

[Service]
ExecStart=/usr/local/bin/twistd \
    --nodaemon \
    --pidfile= \
    --logfile="logs/api.log" \
    -oy serve_api.tac

WorkingDirectory=/home/ivan/garpr

User=root
Group=root

Restart=always

[Install]
WantedBy=multi-user.target
