# system.d supervisor scripts (currently unused, but can use if we switch to newer version of Ubuntu/Debian

[Unit]
Description=GarPr Prod Webapp service

[Service]
ExecStart=/usr/local/bin/twistd \
    --nodaemon \
    --pidfile= \
    --logfile="webapp.log"
    -oy webapp/serve_webapp.tac

WorkingDirectory=/home/deploy/prod/garpr

User=nobody
Group=nobody

Restart=always

[Install]
WantedBy=multi-user.target
