[Unit]
Description=GarPr Stage Webapp service

[Service]
ExecStart=/usr/local/bin/twistd \
    --nodaemon \
    --pidfile= \
    --logfile="logs/webapp.log"
    -oy webapp/serve_webapp.tac

WorkingDirectory=/home/deploy/stage/garpr

User=nobody
Group=nobody

Restart=always

[Install]
WantedBy=multi-user.target
