[environment]
name=NAME
web_port=WEB_PORT
api_port=API_PORT

[database]
host=HOSTNAME
db=DB
auth_db=AUTH_DB
user=USER
password=PASSWORD

[challonge]
api_key=API_KEY

[facebook]
app_id=FB_APP_ID
app_token=FB_APP_TOKEN
