<div class="container">
    <!-- PENDING TOURNAMENTS -->
    <div class="row">
        <div class="col-md-8">
            <h1>{{tournament.date}} - {{tournament.name}}</h1>
            <h3 ng-if="tournament.url"><a href={{tournament.url}}>{{tournament.type}} url</a></h3>
        </div>
        <div class="col-md-4" ng-show="sessionService.isAdmin()">
            <h1 class="text-right">
                <button type="button" class="btn btn-danger mobile mobile_small_text"
                        ng-click="openDetailsModal()">Edit Tournament Details</button>
            </h1>
             <h1 class="text-right">
                 <button type="button" class="btn btn-danger mobile"
                         ng-show="sessionService.isAdminForRegion(regionService.region.id)"
                         ng-click="openDeleteTournamentModal(tournament.id)">Delete</a></button>
             </h1>
        </div>
    </div>
    <div class="row" ng-show="isPendingTournament">
        <div class="col-md-12">
            <h1>This is a PENDING tournament</h1>
        </div>
    </div>
    <div class="row" ng-show="isPendingTournament">
        <div class="col-md-12">
            <h3>Players</h3>
            <table class="table table-condensed table-striped">
                <tr class="table_header">
                    <th><strong>New Player?</strong></th>
                    <th><strong>Tag</strong></th>
                    <th><strong>Player Details</strong></th>
                    <th><strong>Player Search</strong></th>
                </tr>
                <tr ng-repeat="player in tournament.players" class="pending_tournament_line tournament_line_center">
                    <td>
                        <input type="checkbox" class="mobile"
                               ng-model="playerCheckboxState[player]"
                               ng-change="onPlayerCheckboxChange(player)">
                    </td>
                    <td ng-class="{'text-danger': playerCheckboxState[player], newPlayer: playerCheckboxState[player]}">{{player}}</td>
                    <td>
                        <div ng-hide="playerCheckboxState[player]">
                            <div ng-show="playerData[player].hasOwnProperty('id')">
                                <p>Regions: <strong>{{prettyPrintRegionListForPlayer(playerData[player])}}</strong></p>
                                <a href="#/{{regionService.region.id}}/players/{{playerData[player].id}}">
                                    View match history
                                </a>
                            </div>
                            <div ng-hide="playerData[player].hasOwnProperty('id')">
                                <p class="text-danger"><strong>Please select a valid existing player!</strong></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" class="form-control mobile_small" ng-model="playerData[player]" placeholder="Search for player..." typeahead="p as p.typeahead for p in playerService.getPlayerListFromQuery($viewValue)" typeahead-on-select="playerSelected(player, $item)">
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" ng-show="isPendingTournament">
        <div class="col-md-2 col-md-offset-10">
            <button type="button" class="btn btn-primary pull-right mobile mobile_small_text" ng-click="putTournamentFromUI()">Save Alias-Player Mapping</button>
        </div>
    </div>
    <div class="row" ng-show="isPendingTournament">
        <div class="col-md-12">
            <h3>Matches</h3>
            <table class="table table-condensed">
                <tr class="table_header">
                    <th>Winner</th>
                    <th>Loser</th>
                </tr>
                <tr ng-repeat="match in tournament.matches" class="tournament_match_line">
                    <td class="success">{{match.winner}}</a></td>
                    <td class="danger">{{match.loser}}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" ng-show="isPendingTournament">
        <div class="col-md-2 col-md-offset-10">
            <button type="button" class="btn btn-primary pull-right mobile" ng-click="openSubmitPendingTournamentModal()">Submit</button>
        </div>
    </div>

    <!-- REAL TOURNAMENTS -->
    <div class="row" ng-hide="isPendingTournament">
        <div class="col-md-4">
            <h3>Players</h3>
            <table class="table table-condensed table-striped">
                <tr class="table_header">
                    <th>Name</th>
                </tr>
                <tr ng-repeat="player in tournament.players" class="player_line">
                    <td><a href="#/{{regionService.region.id}}/players/{{player.id}}">{{player.name}}</a></td>
                </tr>
            </table>
        </div>
        <div class="col-md-8">
            <h3>Matches</h3>
            <table class="table table-condensed">
                    <tr ng-show="sessionService.isAdmin()">
                    <td>
                        <button type="button" class="btn btn-primary mobile" ng-click='openAddMatchModal()'>
                              <span class="glyphicon glyphicon-plus"></span>Add Match
                        </button>
                    </td>
                </tr>

                <tr class="table_header">
                    <th>Winner</th>
                    <th ng-show="sessionService.isAdmin()" width="5%">
                        Swap
                    </th>
                    <th>Loser</th>
                    <th ng-show="sessionService.isAdmin()">
                       Exclude
                    </th>
                </tr>
                <tr ng-repeat="match in tournament.matches" class="tournament_match_line">
                    <td class="success" id="winner_{{ match.match_id }}">
                        <a href="#/{{regionService.region.id}}/players/{{match.winner_id}}">
                            {{match.winner_name}}
                        </a>
                    </td>
                    <td ng-show="sessionService.isAdmin()" width="5%">
                        <span ng-click="swapWinnerLoser(match)"  class="glyphicon glyphicon-resize-horizontal" style="color:black; font-size:2.5em"></span>
                    </td>
                    <td class="danger" id="loser_{{ match.match_id }}">
                        <a href="#/{{regionService.region.id}}/players/{{match.loser_id}}">
                            {{match.loser_name}}
                        </a>
                    </td>
                    <td ng-show="sessionService.isAdmin()" style="text-align:center">
                        <input type="checkbox" id="exclude_set_checkbox_{{ match.match_id }}"
                               ng-model='matchCheckbox' ng-change="changeMatchExclusion(match)"
                               ng-checked="isMatchCurrentlyExcluded(match)"
                               class="mobile"/>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
