<div class="container">
    <h3>Super Admin Functions</h3>
    <form ng-submit="submitNewRegion()">
        <h5>Add New Region</h5>
        Name: <input type="text" id="region_name_text" class="form-control" ng-model="region.name">
    </form>
    <br>
    <hr>
    <br>
    <form>
        <h5>Add New User</h5>
        Username: <input type="text" id="new_user_name" class="form-control" ng-model="user.name"> <br>
        Password: <input type="text" id="new_user_pass" class="form-control" ng-model="user.pass">
    </form>
    <br/>
</div>