<div class="container">
    <h3>Super Admin Functions</h3>
    <form ng-submit="submitNewRegion()">
        <h5>Add New Region</h5>
        Name: <input type="text" id="region_name_text" class="form-control" ng-model="region.name">
    </form>
    <br/><hr/><br/>
    <form ng-submit="submitNewUser()">
        <h5>Add New Admin</h5>
        Username: <input type="text" id="new_user_name" class="form-control" ng-model="user.name"> <br/>
        Password: <input type="text" id="new_user_pass" class="form-control" ng-model="user.pass"> <br/>
        <!-- Add permissions here later, if applicable -->
        <!--
        Permissions:
        <li ng-repeat="r in regionService.display_regions"><a ng-href="#/{{r.id}}/{{$route.current.activeTab}}">{{r.display_name}}</a></li>
        -->
    </form>
    <br/>
</div>