<div class="container">
    <h1>Import a New Tournament</h1>
    <form class="form-horizontal" role="form" ng-controller="ImportTournamentController">
        <div class="form-group">
            <label class="col-md-4" for="tournamentName">Tournament Name</label>
            <input class="col-md-8" type="text" id="tournamentName" placeholder="EVO 2014 Melee Singles" ng-model="tournament.name" />
        </div>
        <div class="form-group">
            <div class="col-md-4">
                Bracket Type
            </div>
            <div class="col-md-4">
                <label>TIO <br><input type="radio" ng-model="tournament.type"   value="tio" /></label>
            </div>
            <div class="col-md-4">
                <label>Challonge <br><input type="radio" ng-model="tournament.type" value="challonge" /></label>
            </div>
        </div>
        <div ng-show="tournament.type === 'tio'" class="form-group">
            <label class="col-md-4" for="tioFile">TIO File</label>
            <input class="col-md-8" type="file"/>
        </div>
        <div ng-show="tournament.type === 'tio'" class="form-group">
            <label class="col-md-4" for="tioBracketName">TIO File</label>
            <input class="col-md-8" type="text" ng-model="tournament.bracket_name"/>
        </div>
        <div ng-show="tournament.type === 'challonge'" class="form-group">
            <label class="col-md-4" for="challongeUrl">TIO File</label>
            <input class="col-md-8" type="text" ng-model="tournament.challonge_url"/>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-default" ng-click="upload(tournament)">Upload Tournament</input>
        </div>
    </form>
</div>
