<div class="modal-header">
    <h3 class="modal-title">Regions</h3>
</div>

<div class="modal-body">
    <p>Checking a region will cause this player to be included in rankings for that region.</p>
    <div class="checkbox" ng-repeat="regionId in sessionService.getAdminRegions()">
        <h3>
            <label>
                <input type="checkbox" 
                       ng-model="playerRegionCheckbox[regionId]" 
                       ng-checked="isPlayerInRegion(regionId)" 
                       ng-change="onCheckboxChange(regionId)">
                {{regionService.getRegionDisplayNameFromRegionId(regionId)}}
            </label>
        </h3>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()">Close</button>
</div>
