@import url("https://fonts.googleapis.com/css?family=Roboto Condensed:300,400,500,700");

html, body{
	background-image: url("images/bg.png") !important;
	background-repeat: repeat-y repeat x;
}

.header{
	text-align: center;
    width: 100%;
    font-family: "Roboto Condensed",Helvetica,Arial,sans-serif;
    font-size: 72px;
    letter-spacing: 10px;
    height: 120px;
    background-color: #9e9e9e !important;
    border-bottom: 1px solid #666;
}

.vignette {
    
    background: 
      -webkit-linear-gradient(left, 
        rgba(100,100,100,0.65) 0%, 
        rgba(0,0,0,0) 20%,
        rgba(0,0,0,0) 80%,
        rgba(100,100,100,0.65) 100%
      );
}


.header-wrapper{
	display:inline-flex;
}

#header1{
	color:#dedede;
}

#header2{
	color:#222222;
}

#header3{
	color:#666666;
}
.pending {
    font-style: italic;
}

.newPlayer{
    font-weight: bold;
}

.pending > a {
    color: gray;
}
