<div class="modal-header">
    <h3 class="modal-title">Are you sure?</h3>
</div>

<div class="modal-body">
    <p>Please double check that all player tags are mapped correctly before submitting. It is much more difficult to fix tournaments after they are submitted!</p>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="submitPendingTournament()">Submit</button>
    <button type="button" class="btn btn-default" ng-click="closeSubmitPendingTournamentModal()">Close</button>
</div>
