<div class="modal-header">
    <h3 class="modal-title">Edit Tournament Details</h3>
</div>

<div class="modal-body">
    <form ng-submit="updateTournamentDetails()">
        <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" type="text" class="form-control" ng-model="postParams.name">
            <label for="date">Date:</label>
            <p>Please enter the date in the format "mm/dd/yy" (e.g. "06/12/15").</p>
            <input id="date" type="text" class="form-control" ng-model="postParams.date">
            <label for="name">Regions:</label>
            <p>Checking a region will cause this tournament to be used in ranking calculations for that region.</p>
            <p>You should only include a tournament in a region if a large portion of that tournament's entrants are from that region, otherwise the accuracy of rankings will suffer.</p>
            <div class="checkbox" ng-repeat="regionId in sessionService.getAdminRegions()">
                <h4>
                    <label>
                        <input type="checkbox"
                               ng-model="tournamentRegionCheckbox[regionId]"
                               ng-true-value="IN_REGION"
                               ng-false-value="NOT_IN_REGION">
                        {{regionService.getRegionDisplayNameFromRegionId(regionId)}}
                    </label>
                </h4>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-disabled="disableButtons">Submit</button>
        <p class="text-danger" ng-show="errorMessage"><strong>There was an error. Please make sure everything is spelled correctly and try again.</strong></p>
    </form>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="closeDetailsModal()">Close</button>
</div>
